* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

.App {
    background-image: url('../imgs/bg-back.jpg');
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

//Main
.custom-hover {
    border-bottom: 3px solid transparent;
    transition: all 0.4s ease;
}
.custom-hover:hover, .custom-hover-active {
    cursor: pointer;
    color: #198754;
    border-bottom: 3px solid #198754 ;
}
.slick-slide > div {
    margin: 0 5px;
}

//BookSeat
.seat {
    list-style-type: none;
    flex-wrap: wrap;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
        width: 70px;
        padding: 10px 0;
        margin: 2px 3px;
        border-bottom: 5px solid #198754;
        text-align: center;
    }
    li:hover {
        background-color: #198754;
        cursor: pointer;
        transition: all 0.4s ease;
    }
    .seat-double {
        width: 145px;
        padding: 10px 0;
        border-bottom: 5px solid #dc3545;
    }
}

.border-bottom-seat {
    border-bottom: 5px solid#ffc107 !important
}


//Admin-Calender
.admin-calender {
    position: relative;
    width: 160px;
    padding: 18px 0;
    text-align: center;
    margin: 5px;
    font-size: large;
    cursor: pointer;
    input {
        border: none;
        background-color: transparent;
    }
}   
.update-and-delete {
    position: absolute;
    top: 20px;
    width: 160px;
    display: flex;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s linear;
    .btn-hover {
        width: 100%;
        padding: 20px 0;
        border-color: transparent;
    }
    .btn-hover:hover > i {
        color: white;
    }
    .btn-hover:first-child {
        background-color: #ffc107;
    }
    .btn-hover:last-child {
        background-color: #dc3545;
    }
}
.admin-calender:hover .update-and-delete{
    opacity: 1;
    visibility: visible;
    transform: translate(0, -20px);
}


//Film
.card {
    cursor: pointer;
    position: relative;
    border: none;
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(transparent, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 3;
        opacity: 0;
        transition: all ease-in-out 0.5s;
        color: white;
        .card-body {
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}
.card:hover .overlay {
    opacity: 1; 
}

//DropDown
.dropdown-item:active {
    background-color: #e9ecef;
}


.custom-disabled {
    border-bottom: 5px solid #0dcaf0 !important;
    pointer-events: none; 
}
